.note-properties {
  margin: 1rem 0 2rem;
  padding: 1rem;
  border: 1px solid var(--background-modifier-border);
  border-radius: 6px;
  font-size: 0.9rem;
}

.note-properties .property {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1rem;
  padding: 0.25rem 0;
}

.note-properties .property-label {
  color: var(--text-muted);
}

.note-properties .property-value {
  color: var(--text-normal);
}
