{%- if relevancescore == true -%}
<p>relevance score: {{relevancescore}}</p>
{%- endif -%}

{%- if familiaritydegree == true -%}
<p>familiarity degree: {{familiaritydegree}}</p>
{%- endif -%}

{%- if familiaritycontext == true -%}
<p>familiarity context: {{familiaritycontext}}</p>
{%- endif -%}

{%- if recommendationlevel == true -%}
<p>recommendation level: {{recommendationlevel}}</p>
{%- endif -%}

{%- if recommendationcontext == true -%}
<p>recommendation context: {{recommendationcontext}}</p>
{%- endif -%}
