{%- if relevance score == true -%}
<p>relevance score: {{relevance score}}</p>
{%- endif -%}

{%- if familiarity degree == true -%}
<p>familiarity degree: {{familiarity degree}}</p>
{%- endif -%}

{%- if familiarity context == true -%}
<p>familiarity context: {{familiarity context}}</p>
{%- endif -%}

{%- if recommendation level == true -%}
<p>recommendation level: {{recommendation level}}</p>
{%- endif -%}

{%- if recommendation context == true -%}
<p>recommendation context: {{recommendation context}}</p>
{%- endif -%}
